.section-about{
    height: 100vh;
    background-color: #fff;
}

.about{
    &-text{
        div{
            width: 70%;
        }
        span{
            position: relative;
            display: block;
            border-radius: 50%;
            height: 2rem;
            width: 2rem;
            background-color: $color-secondary;

            &::after{
                content: "";
                position: absolute;
                background-color: $color-primary;
                border-radius: 50%;
                height: 1rem;
                width: 1rem;
                top:5px;
                left: 5px;
            }
        }
    }


}